<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h5>Admin</h5>
    <div class="medicalStores">
        
    </div>
    <div class="customers">

    </div>
    <div class="deliverBoy">

    </div>
    <div class="orders">

    </div>
</body>
</html>