<head>
    <title>Customer</title>
</head>
<body>
    <h1>Customer</h1>
    <div>
        <h6>Are you new here ? If yes , then register else login.</h6>
        <ul>
            <li><a href="/customer/registration">Registration</a></li>
            <li><a href="/customer/login">Login</a></li>
        </ul>
    </div>
    <p><a href="/welcome"> Welcome Menu</a></p>
</body>