<head>
    <title>Delivery Boy</title>
</head>
<body>
    <h1>Delivery Boy</h1>
    <div>
        <h6>Are you New Here ? If Yes, Register else Login.</h6>
        <ul>
            <li><a href="/deliveryboy/registration">Registration</a></li>
            <li><a href="/deliveryboy/login">Login</a></li>
        </ul>
    </div>
    <p><a href="/welcome"> Welcome Menu</a></p>
</body>