<head>
    <title>Medical Store</title>
</head>
<body>
    <h1>Medical Store</h1>
    <div>
        <h6>Are you New Here ? If Yes , Register else Login.</h6>
        <ul>
            <li><a href="/medicalstore/registration">Registration</a></li>
            <li><a href="/medicalstore/login">Login</a></li>
        </ul>
    </div>
    <p><a href="/welcome"> Welcome Menu</a></p>
</body>