<head>
    <title>Login for Medical Store</title>
</head>
<body>
    <h1>Login for Medical Store</h1>
    <div class= "content">
        <form action="/medicalstore/login" method="POST">
           <div class= "input">
               <label for="username">Username</label>
               <input type="text" name="username" id="username">
           </div> 
           <div class= "input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Login</button>
        <p><a href="/medicalstore"> Medical Store Menu</a></p>
        </form>
    </div>
</body>