<div>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    </head>
    <div>
        <body>
            <div>
                <h1 class="title">E-Pharmacy</h1>
            </div>
            <div>
                <h2 class="ask">Who you are?</h2>
            </div>
            <div>
                <ul class="operations">
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/medicalstore">Medical Store</a></li>
                    <li><a href="/deliveryboy">Delivery Boy</a></li>
              
            </div>
            
        </body>
    </div>
    
</div>
