body
{
    align-items: center;
}
.content
{
    display: flex;
    background-color: grey;
}
.input
{
    display: flex;
    flex-direction: column;
}
.input label
{
    float: left;
}
.input input{
    float: right;
}